<div class="login-container">
  <div class="login-sub-container">

    <div class="toffee-card-wrapper">
      <div class="card-date-wrapper">
        <p class="card-expired">Sep 4, 2018 - Sep 3, 2019</p>
      </div>
      <div class="toffee-card-container product-theme-green">
        <div class="sub-card-container">
          <div class="card-details">
            <p class="card-name">Dengue Insurance</p>
            <div class="toffee-id-container">
              <div class="strip-color"></div>
              <p class="toffee-id-content">Proposal Number</p>
              <p class="card-number">- - - -</p>
            </div>
            <p class="customer-name">Raj Kumar Dubey</p>
            <p class="customer-email">i.rajmrperfect@gmail.com</p>
          </div>
          <div class="apollo-logo">
            <img class="apollo-image" src="/assets/img/xl-apollo-munich.png">
          </div>
          <div class="toffee-logo">
            <img class="toffee-image" src="/assets/img/toffee-logo-white.svg">
          </div>
        </div>
      </div>
    </div>
    <!--date of birth section-->
    <div class="question-slide-container">
      <div class="login-header-container bot-wrapper-mobile">
        <div class="helper-container">
          <div class="sub-helper-container">
            <div class="image-container">
              <img class="toffee-image" src="/assets/img/xl-bot.png">
            </div>
            <div class="content-container">
              <p class="content bot-text">Now Raj, please enter the residential location of the person to be insured.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="parent-container" style="height: 368px;">


        <div class="container active" id="container2" data-bottext="Now Raj, please enter the residential location of the person to be insured."
          data-name="QUESTION_LOCATION_PART_1" style="visibility: visible;">
          <div class="question-data-container">
            <div class="question-section">
              <div class="question-logo">
                <img src="/assets/img/icon-location.svg">
              </div>
              <p class="question-title">Residential Location
              </p>
            </div>
            <div class="input-container">



              <div class="sub-locate-container">
                <input class="question-input" type="text" name="pincode" placeholder="Pin code" maxlength="6" tabindex="1">
                <div class="locate-me-container" onclick="getLocation()">
                  <img clas="locate-me-image" src="/assets/img/locate-me.svg">
                  <p class="locate-me-text">Locate me</p>
                </div>
              </div>








              <div class="sub-nominee-container">
                <input maxlength="50" name="state1" placeholder="State" title="" class="question-input ui-autocomplete-input">
              </div>






              <div class="sub-nominee-container">
                <input data-input-validation="required" data-display-name="City" maxlength="50" name="city1" placeholder="City" title=""
                  class="question-input ui-autocomplete-input" autocomplete="bday" tabindex="3">
                <img src="/assets/img/next-button.svg">
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>