<header class="nav-header-m">
    <div class="header-container">

        <div class="back-button-container">
            <a href="https://toffeeinsurance.com/accident-insurance/fitness-apollo-munich">
                <img class="back-button" src="/assets/img/back-button.svg">
            </a>
        </div>
        <div class="mobile-toffee-container">
            <a href="/">
                <img class="mobile-toffee-logo" src="/assets/img/toffee-logo.svg">
            </a>
        </div>
        <div class="mobile-phone-container">
            <img class="image" src="/assets/img/support-call.svg">

        </div>
    </div>
</header>
<router-outlet></router-outlet>