<header class="nav-header-m">
    <div class="header-container">

        <div class="left-container">
            <a href="">
                <img class="back-button" src="/assets/img/back-button.svg">
            </a>
        </div>
        <div class="centre-container">
            <a href="">
                <img class="mobile-toffee-logo" src="/assets/img/toffee-logo.svg">
            </a>
        </div>
        <div class="right-container">
            <a href="">
                <img class="image" src="/assets/img/support-call.svg">
            </a>
        </div>
    </div>
</header>
<router-outlet></router-outlet>