<div class="login-pg-container">
    <div class="login-header-container">
        <div class="helper-container">
            <div class="sub-helper-container">
                <div class="image-container">
                    <img class="toffee-image" src="/assets/img/xl-bot.png">
                </div>
                <div class="content-container">
                    <p class="content">
                        Hi! I am Nishi, one of the certified insurance professionals at Toffee. Thanks for choosing Dengue Insurance. Enter details
                        of the person to be insured as per Aadhaar.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="login-screen-container">
        <div class="login-sub-container">
            <form>
                <div class="details-container">
                    <p class="heading-detail"> Father/Mother Details</p>
                    <div class="login-form-container">
                        <div class="tfi tfi-left-align">
                            <div class="tfi-button" data-id="1">
                                <p class="">Mr</p>
                            </div>
                            <div class=" tfi-button" data-id="2">
                                <p class="">Ms</p>
                            </div>
                            <div class=" tfi-button" data-id="3">
                                <p class="">Mrs</p>
                            </div>
                        </div>
                        <input class="user-input" type="text" placeholder="Full Name">
                        <input class="user-input" type="email" placeholder="Email">
                        <div class="mobile-input-container">
                            <input class="user-input mobile-number-field" type="number" placeholder="10-digit Mobile Number" min="0" maxlength="10">
                            <div class="addcontCode">+91</div>
                        </div>
                    </div>
                </div>
                <div class="help-container">
                    <div class="image-container">
                        <img class="help-image" src="/assets/img/help.svg">
                    </div>
                    <p class="help-content">Parent's Contact Details Will Be Used For Operational Purpose.</p>
                </div>
                <div class="button-container">
                    <button class="button" id="inputBtn" type="button" style="opacity: 1;" [routerLink]="['/dengu']">
                        Next
                        <img class="next-arrow-image" src="/assets/img/next.svg">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>