<div class="d-page-container">
  <div class="page-info dengu-banner">
    <div class="product-desc">
      <h1 class="main-heading">Dengue Insurance</h1>
      <p class="description">Health insurance to cover all dengue related expenses.</p>
    </div>
    <div class="sub-container">
      <div class="details-container">
        <div class="policy-details">
          <h3 class="title">1 Year</h3>
          <p class="desc">Policy Duration</p>
        </div>
        <div class="policy-details">
          <h3 class="title">₹682 </h3>
          <p class="desc">Annual Premium</p>

        </div>

      </div>
    </div>
    <div class="insuredby-container">
      <div class="sub-container">
        <p class="content">Insured by</p>
        <p class="insuredby-logo content">Apollo Munich</p>
      </div>
    </div>
  </div>
  <div class="product-image-container">
    <img class="product-image" src="/assets/img/anti-dengue-toffee.svg" alt="Dengue Insurance">
  </div>

  <div class="coverage-detail-container">
    <p class="covered-title">What’s covered?</p>
    <div class="covered-list-container">
      <div class="sub-container">
        <div class="covered-list">
          <p class="title">Hospitalisation</p>
          <p class="desc">Upto ₹1,00,000</p>
        </div>
      </div>
      <div class="sub-container">
        <div class="covered-list">
          <p class="title">Diagnostic Tests</p>
          <p class="desc">Covered</p>
        </div>
      </div>
      <div class="sub-container">
        <div class="covered-list">
          <p class="title">Medicines</p>
          <p class="desc">Covered</p>
        </div>
      </div>
      <div class="sub-container">
        <div class="covered-list">
          <a href="">
            <p class="more">1 more</p>
          </a>
        </div>
      </div>
    </div>
    <div class="button-container">
      <a  [routerLink]="['/address']" class="coverage-button ">See coverage details</a>
    </div>
  </div>
  <div class="recommendation-container">
    <p class="content">We also recommend you
      <b>Sports Toffee</b>
    </p>
  </div>
</div>