.product-theme-green {
	background-image: linear-gradient(240deg, #54af09, #7db10b);
	-webkit-box-shadow: 0 0 16px 0 #c3eba6;
	box-shadow: 0 0 16px 0 #c3eba6;
	fill: #4ea414;
}
.product-list-container {
    height: 100%;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 65px 0;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding-bottom: 40px;
    h1 {
        margin: 0px;
    }
    p {
        margin: 0px;
    }
    h3 {
        margin: 0px;
    }
    &:hover {
        -webkit-box-shadow: 0 1px 36px 2px #e6e6ec;
        box-shadow: 0 1px 36px 2px #e6e6ec;
    }
    .product-info {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 18px 0 19px 0;
        position: relative;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        .product-desc {
            width: 100%;
            float: left;
            margin-left: 0;
            margin-right: 0;
            .main-heading {
                font-size: 22px;
                color: #ffffff;
                text-align: center;
            }
            .description {
                padding: 5px 68px 10px 68px;
                opacity: 0.8;
                
                font-size: 14px;
                line-height: 1.27;
                text-align: center;
                color: #ffffff;
            }
        }
        .sub-container {
            width: 100%;
            float: left;
            margin-left: 0;
            margin-right: 0;
            padding: 0 40px;
            .policy-details-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                .policy-details {
                    &:nth-child(1) {
                        padding-right: 30px;
                    }
                    .title {
                        font-size: 19px;
                        color: #ffffff;
                        text-align: center;
                    }
                    .desc {
                        opacity: 0.7;
                        
                        font-size: 12px;
                        text-align: center;
                        color: #ffffff;
                    }
                }
            }
        }
        .insuredby-container {
            display: none;
        }
    }
    .product-image-container {
        position: relative;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 14px 0 7px 0;
        .product-image {
            height: 115px;
        }
    }
    .coverage-detail-container {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        .covered-title {
            width: 100%;
            float: left;
            margin-left: 0;
            margin-right: 0;
            opacity: 0.8;
            
            font-size: 20px;
            text-align: center;
            color: #22334f;
        }
        .covered-list-container {
            width: 100%;
            float: left;
            margin-left: 0;
            margin-right: 0;
            padding: 17px 34px;
            .sub-container {
                width: 49.15254237%;
                float: left;
                margin-right: 1.69491525%;
                padding: 3.5px 1.1px;
                .covered-list {
                    padding: 10px 0 8px 0;
                    border-radius: 2px;
                    border: solid 1px #e1ebf3;
                    min-height: 56px;
                    a {
                        text-decoration: none;
                    }
                    .title {
                        
                        font-size: 16px;
                        text-align: center;
                        color: #22334f;
                    }
                    .desc {
                        
                        font-size: 12px;
                        text-align: center;
                        color: #22334f;
                        opacity: 0.8;
                    }
                    .more {
                        font-size: 16px;
                        
                        text-align: center;
                        color: #22334f;
                        opacity: 0.5;
                        padding: 6px 0 5px 0;
                    }
                }
                &:nth-child(even) {
                    width: 49.15254237%;
                    float: right;
                    margin-right: 0;
                }
            }
        }
        .button-container {
            width: 100%;
            float: left;
            margin-left: 0;
            margin-right: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 2px;
            .coverage-button {
                padding: 15px 25px;
                border-radius: 2px;
                background-image: linear-gradient(242deg, #eb5757, #e64b4b);
                -webkit-box-shadow: 0 0 4px 0 rgba(99, 135, 170, 0.2);
                box-shadow: 0 0 4px 0 rgba(99, 135, 170, 0.2);
                
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                text-decoration: none;
                -webkit-transition: all .1s ease-in-out;
                transition: all .1s ease-in-out;
                &:hover {
                    -webkit-transform: scale(1.02);
                    transform: scale(1.02);
                    -webkit-box-shadow: 0px 1px 7px 0px rgba(115, 6, 6, 0.2);
                    box-shadow: 0px 1px 7px 0px rgba(115, 6, 6, 0.2);
                }
            }
        }
    }
    .recommendation-container {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 0px 25px;
        position: absolute;
        bottom: 0;
        .bottom-color {
            width: 100%;
            float: left;
            margin-left: 0;
            margin-right: 0;
            padding: 6px 0;
            opacity: 0.5;
        }
    }
}
.button-container {
	width: 100%;
	float: left;
	margin-left: 0;
	margin-right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 25px 0 15px 0;
}
@media only screen and (min-width: 768px) {
	.product-list-container {
        height: auto;
        width: 70.33898305%;
        float: left;
        margin-right: 1.69491525%;
        padding-bottom: 50px;
        width: 941px;
        margin-bottom: 30px;
        -webkit-box-shadow: 0 1px 36px 2px #f6f6f7;
        box-shadow: 0 1px 36px 2px #f6f6f7;
        .product-info {
            padding: 45px 40px 33px 40px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .product-desc {
                width: 32.20338983%;
                float: left;
                margin-right: 1.69491525%;
                .main-heading {
                    text-align: left;
                    font-size: 24px;
                }
                .description {
                    text-align: left;
                    padding: 0px;
                    height: 36px;
                }
            }
            .sub-container {
                width: 37.5%;
                float: left;
                padding: 0;
                .policy-details-container {
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    .policy-details {
                        &:nth-child(1) {
                            padding-right: 55px;
                        }
                        .title {
                            font-size: 26px;
                            text-align: left;
                        }
                        .desc {
                            text-align: left;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .insuredby-container {
                width: 27.96610169%;
                float: right;
                margin-right: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                padding-top: 0px;
                .sub-container {
                    padding-top: 12px;
                    width: auto;
                    .content {
                        opacity: 0.7;
                        
                        font-size: 12px;
                        font-weight: 500;
                        color: #ffffff;
                    }
                    .insuredby-logo {
                        opacity: 1;
                        padding-top: 4px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .product-image-container {
            width: 49.15254237%;
            float: left;
            margin-right: 1.69491525%;
            .product-image {
                max-width: 100%;
                padding-top: 52px;
                width: 266px;
                height: auto;
            }
        }
        .coverage-detail-container {
            width: 40.6779661%;
            float: left;
            margin-right: 1.69491525%;
            .covered-title {
                padding-top: 50px;
                font-size: 24px;
            }
            .covered-list-container {
                padding: 14px 0px;
                .sub-container {
                    padding: 8px 6px;
                    .covered-list {
                        padding: 14px 0;
                        .title {
                            font-size: 16px;
                            margin-bottom: 2px;
                        }
                        .desc {
                            font-size: 13px;
                        }
                        .more {
                            font-size: 18px;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
            .button-container {
                .coverage-button {
                    font-size: 16px;
                    padding: 18px 25px;
                    line-height: 1;
                }
            }
        }
        .recommendation-container {
            display: none;
            .bottom-color {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 359px) {
	.product-list-container {
        .product-info {
            padding: 16px 0 17px 0;
            .product-desc {
                .main-heading {
                    font-size: 20px;
                }
                .description {
                    font-size: 13px;
                }
            }
            .sub-container {
                .policy-details-container {
                    .policy-details {
                        .title {
                            font-size: 17px;
                        }
                        .desc {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        .product-image-container {
            padding: 8px 0 3px 0;
            .product-image {
                height: 110px;
            }
        }
        .coverage-detail-container {
            .covered-title {
                font-size: 18px;
            }
            .covered-list-container {
                padding: 10px 30px;
                .sub-container {
                    padding: 3px 1.2px;
                    .covered-list {
                        padding: 9px 0 7px 0;
                        min-height: 53px;
                        .title {
                            font-size: 13px;
                        }
                        .desc {
                            font-size: 11px;
                        }
                    }
                }
            }
            .button-container {
                .coverage-button {
                    padding: 14px 25px;
                    line-height: 1em;
                }
            }
        }
    }
}
